.cardTitle{
    color: var(--primary);
    margin: 20px 10px 10px 10px;
}
.title{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
/* @media (min-width:768px){
    .containerCardsMobile{
        display: none;
    }
} */