.contentMain {
  position: relative;
  padding-top: 50%;
  padding-left: 0;
}
.loading{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

@media screen and (max-width: 991px) {
  .contentMain {
    padding-left: 20px;
  }
}
@media screen and (max-width: 400px) {
  .contentMain {
    padding-left: 10px;
  }
}
