.contentMain {
  position: relative;
transform: translateY(-200px);
z-index: 90;
  background-color: aliceblue;
border: 1px solid green;
}
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

@media screen and (max-width: 991px) {
  .contentMain {
    padding-left: 20px;
  }
}
@media screen and (max-width: 400px) {
  .contentMain {
    padding-left: 10px;
  }
}
