.nav {
  position: fixed;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.02575290370054273) 10%,
    rgba(0, 0, 0, 0.5019433798910189) 90%
  );
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 90;
}
.nav.active {
  background-color: var(--black);
}
.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1440px;
  padding: 0 20px;
}
.menuBurger {
  font-size: 25px;
  color: var(--primary);
  z-index: 90;
  position: sticky;
}
.logo {
  width: 70px;
  height: 70%;
}
/* .hiddenLink {
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}
.hiddenLink p {
  font-size: 10px;
} */
.containerNav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menuList {
  background: linear-gradient(to right, black 70%, rgba(0, 0, 0, 0.36) 30%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 70px 0 0 10px;
  width: 100%;
  transition: all 1s;
  padding-left: 20px;
}
.menuList.active {
  transform: translateX(-100%);
}

.navItem {
  list-style: none;
  margin: 40px 0;
}

.link {
  text-decoration: none;
  color: var(--primary);
  font-size: var(--font-subtitle-mobile);
}

/* .containerLink li {
  background-color: var(--black-transparent);
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
.containerLink li:first-child {
  border-top: 2px solid var(--primary);
}
.containerLink.active {
  transform: translateX(0%);
} */
.showPerfilTablet {
  display: none;
}
@media (min-width: 768px) {
  .nav {
    height: 70px;
  }
  .menuBurger {
    display: none;
  }
  .containerNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    border: 2px solid red;
  }
  .showPerfil {
    display: none;
  }
  .menuList {
    background: none;
    position: static;
    top: 0;
    left: 0;
    height: auto;
    padding: 0;
    width: auto;
    transition: none;
    padding-left: none;
    display: flex;
    justify-content: flex-end;
  }
  .menuList.active {
    transform: translateX(0);
  }
  .perfilSearch{
    display: flex;
    gap: 10px;
  }
  .showPerfilTablet{
    display: block;
  }
}
/* .nav {
  position: fixed;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.02575290370054273) 10%,
    rgba(0, 0, 0, 0.5019433798910189) 90%
  );
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 90;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 80px;
}
.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.logo {
  width: 90px;
  height: 60px;
}
.containerLink {
  display: flex;
  gap: 20px;
}
.containerLink li {
  list-style: none;
}

.containerLink li .link {
  text-decoration: none;
  color: var(--primary);
}

.hiddenLink {
  display: none;
}
*/

/* @media only screen and (max-width: 768px) {
  .nav {
    height: 50px;
    width: 100%;
  }
  .logo {
    width: 70px;
    height: 40px;
  }
  .navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
  }
  .hiddenLink {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    color: var(--primary);
  }
  .hiddenLink p {
    font-size: 10px;
  }
  .containerNav {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  .containerLink {
    position: absolute;
    top: 70%;
    flex-direction: column;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    left: 0;
    transform: translateX(-100%);
    gap: 0;
  }

  .containerLink li {
    background-color: var(--black-transparent);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
  }
  .containerLink li:first-child {
    border-top: 2px solid var(--primary);
  }
  .containerLink.active {
    transform: translateX(0%);
  }
} */
