.nav {
  position: fixed;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.02575290370054273) 10%,
    rgba(0, 0, 0, 0.5019433798910189) 90%
  );
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 90;
}
.nav.active {
  background-color: var(--black);
}
.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1440px;
  padding: 0 10px;
}
.menuBurger {
  font-size: 20px;
  color: var(--primary);
  z-index: 90;
  position: sticky;
}
.logo {
  width: 60px;
  height: 60%;
}

.containerNav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menuList {
  background: linear-gradient(to right, black 70%, rgba(0, 0, 0, 0.36) 30%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 70px 0 0 10px;
  width: 100%;
  transition: all 1s;
  padding-left: 20px;
}
.menuList.active {
  transform: translateX(-100%);
}

.navItem {
  list-style: none;
  margin: 40px 0;
}

.link {
  text-decoration: none;
  color: var(--primary);
  font-size: var(--font-subtitle-mobile);
  cursor: pointer;
}

.showPerfilTablet {
  display: none;
}
@media (min-width: 425px) {
  .menuBurger {
    font-size: 25px;
  }
  .logo {
    width: 70px;
    height: 70%;
  }
  .navHeader {
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .nav {
    height: 80px;
  }
  .logo {
    width: 100px;
    height: 100%;
  }
  .menuBurger {
    display: none;
  }
  .containerNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .showPerfil {
    display: none;
  }
  .menuList {
    background: none;
    position: static;
    top: 0;
    left: 0;
    height: auto;
    padding: 0;
    width: auto;
    transition: none;
    padding-left: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
  .menuList.active {
    transform: translateX(0);
  }
  .link {
    font-size: var(--font-paragraph-tablet);
  }
  .perfilSearch {
    display: flex;
    gap: 7px;
  }
  .showPerfilTablet {
    display: block;
  }
}
@media (min-width: 1024px) {
  .nav {
    height: 80px;
  }
  .navHeader {
    padding: 0 20px;
    margin: 0 auto;
  }
  .logo {
    width: 120px;
    height: 120%;
  }
  .perfilSearch {
    gap: 10px;
  }
  .link {
    font-size: var(--font-paragraph-desktop);
  }
}
