.container {
  margin-top: 50px;
}
.container h3 {
  color: var(--primary);
  margin-bottom: 20px;
  font-size: 25px;
}
.boxSlider {
  position: relative;
  padding: 0 50px;
  /* border: 1px solid green; */
}

.Slider{
  position: relative;
  /* background-color: antiquewhite; */
  z-index: 90;
  overflow-x: visible;
  /* border: 1px solid yellow; */
}
.containerSlider {
  display: flex;
  /* border: 1px solid red; */
  transform: translateX(-250px);
}
.containerSlider.active {
  padding-left: 0;
}
.arrowLeft {
  position: absolute;
  z-index: 90;
  color: var(--primary);
  font-size: 30px;
  height: 100%;
  background-color: var(--black-transparent);
  padding: 0 5px;
  left: 0;
  top: 0;
}
.arrowRight {
  position: absolute;
  color: var(--primary);
  font-size: 30px;
  height: 100%;
  background-color: var(--black-transparent);
  padding: 0 10px;
  right: 0;
  top: 0;
  z-index: 90;
}
@media screen and (max-width: 991px) {
  .container {
    margin-bottom: 15px;
  }
  .arrowLeft {
    font-size: 15px;
    bottom: 4px;
    height: 140px;
    padding: 0 5px;
    left: -20px;
  }
  .arrowRight {
    font-size: 15px;
    bottom: 4px;
    height: 140px;
    padding: 0 5px;
    right: 0;
  }
  .container h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin-bottom: 10px;
  }
  .container h3 {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .containerSlider {
    display: flex;
  }
  .arrowLeft {
    font-size: 10px;
    bottom: 4px;
    height: 100px;
    padding: 0 2px;
    left: -10px;
  }
  .arrowRight {
    font-size: 10px;
    bottom: 4px;
    height: 100px;
    padding: 0 2px;
    right: 0;
  }
}
