.card img {
  width: 150px;
  border-radius: 5px;
}

.loading {
  width: 100px;
  height: 100px;
  background-color: aliceblue;
  border: 1px solid green;
}
.title{
  color: aliceblue;
  font-size: 200px;
}
@media (min-width: 768px) {
  .card img {
    width: 300px;
  }
}
