.searchAvatar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.containerInput {
  border: 1px solid var(--primary);
  height: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px 7px;
}
.containerInput input {
  border: none;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  padding: 10px 0;
}
.containerInput input:focus {
  caret-color: var(--primary);
  color: var(--primary);
}
.inputIcon {
  font-size: 20px;
  color: var(--primary);
}
.containerAvatar {
  display: flex;
  align-items: center;
  color: var(--primary);
  gap: 5px;
}
.containerAvatar img {
  width: 40px;
  border-radius: 5px;
}
.avatarDown {
  font-size: 25px;
}
@media only screen and (max-width: 768px) {
  .searchAvatar {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .containerInput {
    border: 1px solid var(--primary);
    height: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px 7px;
  }
  .containerInput input {
    border: none;
    background-color: transparent;
    font-size: 8px;
    outline: none;
    padding: 7px 0;
  }
  .containerInput input:focus {
    caret-color: var(--primary);
    color: var(--primary);
  }
  .inputIcon {
    font-size: 16px;
    color: var(--primary);
  }
  .containerAvatar {
    display: flex;
    align-items: center;
    color: var(--primary);
    gap: 5px;
  }
  .containerAvatar img {
    width: 30px;
    border-radius: 5px;
  }
  .avatarDown {
    font-size: 25px;
  }
}
