@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
  --background: #141414;
  --primary: #f7f7f7;
  --secondary: #999;
  --text-primary: #e50914;
  --black: #000;
  --black-transparent: #000000bb;
  --secondary-transparent: #99999995;
 /* Tamaños de fuentes */
  --font-mobile: 16px;
  --font-tablet: 18px;
  --font-desktop: 20px;
  --font-heading-mobile: 28px;
  --font-heading-tablet: 36px;
  --font-heading-desktop: 48px;
  --font-subtitle-mobile: 20px;
  --font-subtitle-tablet: 24px;
  --font-subtitle-desktop: 28px;
  --font-paragraph-mobile: 14px;
  --font-paragraph-tablet: 16px;
  --font-paragraph-desktop: 18px;
}
* {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
.app {
  background-color: var(--background);
  overflow: hidden;
}
/* @media only screen and (min-width: 991px) {
  .app {
    padding: 0 40px;
  }
} */

