.contentSection {
  width: 100%;
  height: 550px;
  max-height: 550px;
}
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentSectionPoster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 478px) {
  .contentSection {
    width: 100%;
    height: 800px;
    max-height: 800px;
  }
  .contentSectionPoster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 768px) {
  .contentSection {
    max-height: 900px;
    height: 700px;
  }
  .contentSectionPoster {
    display: none;
  }
}
@media (min-width: 1024px) {
  .contentSection {
    max-height: 1000px;
    height: 900px;
  }
}
.customloader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #766df4 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #766df4);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}
